@page "/"

<h1>Custom Search Engine</h1>

<EditForm Model=this OnValidSubmit="DoSearch">
    <InputText placeholder="Enter text to search" @bind-Value=InputSearchString></InputText>
    <button class="btn btn-primary" type="submit">Search</button>
</EditForm>
